<xml xmlns="http://www.w3.org/1999/xhtml">
  <variables>
    <variable type="" id="A4wNyB[1}w4l*rif{C}6">eye</variable>
  </variables>
  <block type="event_init" id="}QO#R]A49HgUe~/J7tb9" x="-37" y="-88">
    <next>
      <block type="text_print" id="WY]jW|Vt,e0XA!XfmLEt">
        <value name="TEXT">
          <shadow type="text" id="]`|F[aa|~TdS*yD|#MC2">
            <field name="TEXT">Start</field>
          </shadow>
        </value>
        <next>
          <block type="event_run_endless" id="0$bI:XV6f-H#l~Vx2ryJ">
            <next>
              <block type="text_print" id="6?Lukn@UPnSY|q3d;$6]">
                <value name="TEXT">
                  <shadow type="text" id="gyj:apm64K)E}AQQYuxD">
                    <field name="TEXT">End</field>
                  </shadow>
                </value>
              </block>
            </next>
          </block>
        </next>
      </block>
    </next>
  </block>
  <block type="event_button_object" id="1f@L+@.*}?@~GvaK9Nre" x="238" y="-88">
    <field name="EventName">A</field>
    <value name="X">
      <shadow type="math_number" id="5HA9ifDkog0XK9`=vRF[">
        <field name="NUM">0</field>
      </shadow>
    </value>
    <value name="Y">
      <shadow type="math_number" id="4eQo#B!!#)hr@9eivpM8">
        <field name="NUM">0</field>
      </shadow>
    </value>
    <value name="Width">
      <shadow type="math_number" id="LuA_XX)[e9+h`);CI?::">
        <field name="NUM">1</field>
      </shadow>
    </value>
    <value name="Height">
      <shadow type="math_number" id="]Xj)ejUPz#)+H._BLe_*">
        <field name="NUM">1</field>
      </shadow>
    </value>
    <statement name="function">
      <block type="text_print" id="BmNiFp-Hr|uSMV{%~fc;">
        <value name="TEXT">
          <shadow type="text" id="s[JL`u@i!))uZgID|PCe">
            <field name="TEXT">Top left</field>
          </shadow>
        </value>
        <next>
          <block type="variables_set" id="sWm*eG:Z2(7[0|Hnd$n+">
            <field name="VAR" id="A4wNyB[1}w4l*rif{C}6" variabletype="">eye</field>
            <value name="VALUE">
              <block type="eye_object_code" id="4XQg4]F2r4]?%*0KC[p?">
                <field name="ColorCoding">Eye.GRB</field>
                <value name="Position">
                  <block type="machine_eye" id="1Sp#-b7m@#kURm#{UZ)~">
                    <field name="Eye">1</field>
                  </block>
                </value>
              </block>
            </value>
            <next>
              <block type="eye_colour" id="DO$!u1WlG;KU#rN+yVL5">
                <field name="VAR" id="A4wNyB[1}w4l*rif{C}6" variabletype="">eye</field>
                <field name="Colour">#ff0000</field>
              </block>
            </next>
          </block>
        </next>
      </block>
    </statement>
  </block>
  <block type="event_button_object" id="A7OxF~uD:L2yu0fS2sv0" x="238" y="38">
    <field name="EventName">B</field>
    <value name="X">
      <shadow type="math_number" id="O1bdC(ngOb@wIP1MkM?1">
        <field name="NUM">7</field>
      </shadow>
    </value>
    <value name="Y">
      <shadow type="math_number" id="}jz_Ig,@`Z[I2!1@tA6V">
        <field name="NUM">0</field>
      </shadow>
    </value>
    <value name="Width">
      <shadow type="math_number" id="0qlRJ3zy3Z(C*wRpL]x{">
        <field name="NUM">1</field>
      </shadow>
    </value>
    <value name="Height">
      <shadow type="math_number" id="DuN{T],92Ix-d1t3BlZ}">
        <field name="NUM">1</field>
      </shadow>
    </value>
    <statement name="function">
      <block type="text_print" id="BC%%JQ#?9]qk@3qpiX76">
        <value name="TEXT">
          <shadow type="text" id="nt%aM^x0!Hjpmbg90nR1">
            <field name="TEXT">Top right</field>
          </shadow>
        </value>
        <next>
          <block type="variables_set" id="aBouPQ8#xL{qKI{R;Fk]">
            <field name="VAR" id="A4wNyB[1}w4l*rif{C}6" variabletype="">eye</field>
            <value name="VALUE">
              <block type="eye_object_code" id="Y5+Ft1g18xLz^;M9I{41">
                <field name="ColorCoding">Eye.GRB</field>
                <value name="Position">
                  <block type="machine_eye" id="=lSyYez4ueT#]KT3n/7d">
                    <field name="Eye">2</field>
                  </block>
                </value>
              </block>
            </value>
            <next>
              <block type="eye_colour" id="~P15sw]}RF58u=_cT^;k">
                <field name="VAR" id="A4wNyB[1}w4l*rif{C}6" variabletype="">eye</field>
                <field name="Colour">#ff0000</field>
              </block>
            </next>
          </block>
        </next>
      </block>
    </statement>
  </block>
  <block type="event_button_object" id="yI~+s@^vD!p5GJ-}4(b0" x="238" y="163">
    <field name="EventName">C</field>
    <value name="X">
      <shadow type="math_number" id="cZRJe2Lfb@gZI{ozuC!?">
        <field name="NUM">0</field>
      </shadow>
    </value>
    <value name="Y">
      <shadow type="math_number" id="(Ee,A@IbM^iL!dl1YN`R">
        <field name="NUM">7</field>
      </shadow>
    </value>
    <value name="Width">
      <shadow type="math_number" id="}?^byg=brDf8~tc,`y7+">
        <field name="NUM">1</field>
      </shadow>
    </value>
    <value name="Height">
      <shadow type="math_number" id="||Ty};[yja1-9YXhV5%]">
        <field name="NUM">1</field>
      </shadow>
    </value>
    <statement name="function">
      <block type="text_print" id="v3Bjg1m63toQUwyg%T,U">
        <value name="TEXT">
          <shadow type="text" id="lL;Rh/pnFNQBPIbf|}ri">
            <field name="TEXT">Bottom left</field>
          </shadow>
        </value>
        <next>
          <block type="variables_set" id="yJ908yMld~~U2r$I^$0M">
            <field name="VAR" id="A4wNyB[1}w4l*rif{C}6" variabletype="">eye</field>
            <value name="VALUE">
              <block type="eye_object_code" id="a/?qT)(-jAyl6CaDjhQ|">
                <field name="ColorCoding">Eye.GRB</field>
                <value name="Position">
                  <block type="machine_eye" id="w|Q%#,T?a{TtySm?Hn1,">
                    <field name="Eye">3</field>
                  </block>
                </value>
              </block>
            </value>
            <next>
              <block type="eye_colour" id="Db%bXIKc`{^K6_C5ii_h">
                <field name="VAR" id="A4wNyB[1}w4l*rif{C}6" variabletype="">eye</field>
                <field name="Colour">#ff0000</field>
              </block>
            </next>
          </block>
        </next>
      </block>
    </statement>
  </block>
  <block type="event_button_object" id="TlYW4kqy4;Fq;)`owGR7" x="238" y="288">
    <field name="EventName">D</field>
    <value name="X">
      <shadow type="math_number" id="jkS=NJ)SMR;)Zc^nOX]j">
        <field name="NUM">7</field>
      </shadow>
    </value>
    <value name="Y">
      <shadow type="math_number" id="bc+.Z~$]9QY{r6u:kyH1">
        <field name="NUM">7</field>
      </shadow>
    </value>
    <value name="Width">
      <shadow type="math_number" id="pG_{K]eMY`JE](yghuq{">
        <field name="NUM">1</field>
      </shadow>
    </value>
    <value name="Height">
      <shadow type="math_number" id="0Pf@to|#i7wv4tlJid%`">
        <field name="NUM">1</field>
      </shadow>
    </value>
    <statement name="function">
      <block type="text_print" id="yD+TI:$^.RWkYsh7Xtme">
        <value name="TEXT">
          <shadow type="text" id="p7myng}qoSXB}QvpGJt+">
            <field name="TEXT">Bottom right</field>
          </shadow>
        </value>
        <next>
          <block type="variables_set" id=".vLAgmqNM`|6PT.3X~t(">
            <field name="VAR" id="A4wNyB[1}w4l*rif{C}6" variabletype="">eye</field>
            <value name="VALUE">
              <block type="eye_object_code" id="1%NKz*qD{fqLz}5DP:M:">
                <field name="ColorCoding">Eye.GRB</field>
                <value name="Position">
                  <block type="machine_eye" id="8U3IdtMVc)T_[Vq/V,v#">
                    <field name="Eye">4</field>
                  </block>
                </value>
              </block>
            </value>
            <next>
              <block type="eye_colour" id="TZCOo+?kx|$i3HtG48ef">
                <field name="VAR" id="A4wNyB[1}w4l*rif{C}6" variabletype="">eye</field>
                <field name="Colour">#ff0000</field>
              </block>
            </next>
          </block>
        </next>
      </block>
    </statement>
  </block>
  <block type="event_button_object" id=")o-Gb!$$pU2@[a8z!4Pg" x="238" y="413">
    <field name="EventName">Stop</field>
    <value name="X">
      <shadow type="math_number" id="0c0YT:g,ok7XS8k4f#s0">
        <field name="NUM">3</field>
      </shadow>
    </value>
    <value name="Y">
      <shadow type="math_number" id="m1Guo%*3[+l3It0Mr@7S">
        <field name="NUM">3</field>
      </shadow>
    </value>
    <value name="Width">
      <shadow type="math_number" id="U=AP,}CIqd6_OrUUt}Lm">
        <field name="NUM">2</field>
      </shadow>
    </value>
    <value name="Height">
      <shadow type="math_number" id="8v*JiGDF}S*C:VupUrwz">
        <field name="NUM">2</field>
      </shadow>
    </value>
    <statement name="function">
      <block type="text_print" id="+-aQ,YDG{e$}(6%kq00{">
        <value name="TEXT">
          <shadow type="text" id="=X@itFpu?%+^Do?_5yTJ">
            <field name="TEXT">Stop</field>
          </shadow>
        </value>
        <next>
          <block type="event_stop_endless" id="mxg_[d?[3Gm^ulC{H9,*"></block>
        </next>
      </block>
    </statement>
  </block>
</xml>