{# 2018-12-11 Author: Sascha.MuellerzumHagen@baslerweb.com #}
{% extends "base.html" %}
{% block title %} - Python Editor{% endblock %}
{% block head %}
    {{ super() }}

    <!-- Ace code editor -->
    <script type="text/javascript" src="{{ url_for('.static', filename='ace/ace.js') }}"></script>

    <script type="text/javascript">
        var editor;

        HuConApp.FileExt = '.py';

        // On document ready this function will be called and initialize the complete website.
        $(document).ready(function () {

            // Setup the editor
            editor = ace.edit('editor');
            editor.setTheme('ace/theme/xcode');
            editor.session.setMode('ace/mode/python');
            editor.session.setTabSize(2);
            editor.$blockScrolling = Infinity
            editor.setShowPrintMargin(false);
            editor.session.setUseWrapMode(true);

            // poll for new messages
            HuConApp.poll();

            configureMenu();
            HuConApp.showConsole();

            newFile();

            // Remember on every change
            editor.on('change', function(){
                HuConApp.UnsavedContent = true;
            });
        });

        // Hide the code button from the menu.
        function configureMenu() {
            $('#chooseInput').hide();
            $('#newButton').click(newFile);
            $('#openButton').click(function(){HuConApp.openFileModal()});
            $('#saveButton').click(function(){HuConApp.saveFileModal()});
            $('#runButton').click(HuConApp.execute);
            $('#stopButton').click(HuConApp.stop);
            $('#consoleButton').click(HuConApp.toggleConsoleView);
            $('#codeButton').hide();
            $('#buttonModalButton').click(HuConApp.buttonModal);
        }

        // Clear the editor and remove the filename.
        function newFile() {
            editor.setValue('# Write down your code ...\n', 1);
            $('#consoleLog').html('');
            $('#saveFilename').val('');

            HuConApp.UnsavedContent = false;
        }

        // Set the file content
        function setFileContent(fileData) {
            editor.setValue(fileData, -1);
        }

        // Return the python code.
        function getPythonCode() {
            return editor.getValue();
        }

    </script>

{% endblock %}

{% block headerArea %}{% endblock %}

{% block content %}
            <pre id="editor"></pre>
{% endblock %}
