{# 2018-12-11 Author: Sascha.MuellerzumHagen@baslerweb.com #}
{% extends "base.html" %}
{% block head %}
    {{ super() }}

    <script type="text/javascript">

        // On document ready this function will be called and initialize the complete website.
        $(document).ready(function () {
            // poll for new messages
            HuConApp.poll();
        }());

        // Show the shutdown modal and send the shutdown command.
        function shutdownSystem() {
            $('#shutdownModal').modal('show');
            $('#consoleLog').html('');

            var rpcRequest = HuConApp.getRpcRequest();
            rpcRequest['method'] = 'shutdown';
            $.ajax('/API', {
                method: 'POST',
                data: JSON.stringify(rpcRequest),
                dataType: 'json',
                error: HuConApp.appendErrorLog
            });
        }

        // Append the message, which can be a an array, to the console output.
        function appendConsoleLogMessage(message, colour) {
            if (colour === 'undefined') {
                colour = 'black';
            }

            if (message.includes('Error:')) {
                colour = 'red';
            }

            $('#consoleLog').append($('<span>').css('color', colour).text(message)).append($('<br>'))
            $("#consoleLog").scrollTop($("#consoleLog")[0].scrollHeight);
        }

    </script>

{% endblock %}

{% block content %}
            <pre id="editor"></pre>
{% endblock %}


{% block header %}
            <button onclick="shutdownSystem()" class="circular ui icon button" style="top: 8px; right: 8px; position: absolute;">
                <i class="icon power off"></i>
            </button>
{% endblock %}

{% block menu %}{% endblock %}
{% block log %}{% endblock %}
{% block main %}

<div class="center">
    <div class="ui four stackable cards">
        <div class="card">
            <a class="image" href="blockly.html">
                <img src="{{ url_for('.static', filename='images/blockly.svg') }}">
            </a>
            <div class="content">
                <a href="blockly.html" class="header" style="color: #14487e;">Blockly</a>
                <div class="meta">
                    Use bricks to programm your robot.
                </div>
            </div>
        </div>
        <div class="card">
            <a class="image" href="editor.html">
                <img src="{{ url_for('.static', filename='images/editor.svg') }}">
            </a>
            <div class="content">
                <a href="editor.html" class="header" style="color: #14487e;">Editor</a>
                <div class="meta">
                    Programm your Robot like a Pro with Python.
                </div>
            </div>
        </div>
        <div class="card">
            <a class="image" href="mobile.html">
                <img src="{{ url_for('.static', filename='images/mobile.svg') }}">
            </a>
            <div class="content">
                <a href="mobile.html" class="header" style="color: #14487e;">Mobile</a>
                <div class="meta">
                    Run a programm of your Robot with your smartphone.
                </div>
            </div>
        </div>
        <div class="card">
            <a class="image" href="settings.html">
                <img src="{{ url_for('.static', filename='images/settings.svg') }}">
            </a>
            <div class="content">
                <a href="settings.html" class="header" style="color: #14487e;">Settings</a>
                <div class="meta">
                    Update your robot or change the settings.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui label licenseBottom">
    Some icons are used from FontAwesome (<a href="https://fontawesome.com/license">license</a>)
</div>

{% endblock %}

{% block modal %}
    <div id="shutdownModal" class="ui modal">
        <div class="header">Shutdown</div>
        <div class="content">
            <div id="consoleLog" class="codeText" style="height: 300px; overflow-y: scroll;"></div>
            <button onclick="$('#shutdownModal').modal('hide')" class="ui orange button">Close</button>
        </div>
    </div>
{% endblock %}
