{# 2018-12-11 Author: Sascha.MuellerzumHagen@baslerweb.com #}
{% extends "base.html" %}
{% block head %}
    {{ super() }}

    <style type="text/css">
        /* CSS Document */

        body {
            font:0.9em/1.3 Georgia, "Times New Roman", Times, serif;
            color: #FFF;
        }

        .square {
            background:rgba(255, 255, 255, 0.1);
        }
        .inner {
            padding:5px;
            border:2px solid #000;
        }
            .inner h2 {
                font-weight:bold;
            }

        @media screen and (max-width: 640px) {
            .square {
                font-size: 3.5vw;
            }
        }

        .far {
            font-size: 45px;
        }
    </style>

    <script src="{{ url_for('.static', filename='jquery/jquery.square.min.js') }}"></script>

    <script type="text/javascript">
        var buttonNeedUpdate = true
        var square = null;

        // On document ready this function will be called and initialize the complete website.
        $(document).ready(function () {
            window.setInterval(isRunning, 1000);
        }());

        // Check if the application is running.
        // Do not use the HuConApp.isRunnign method, because this function will handle it a little bit different.
        function isRunning() {
            var rpcRequest = HuConApp.getRpcRequest();
            rpcRequest['method'] = 'is_running';

            $.ajax('/API', {
                method: 'POST',
                data: JSON.stringify(rpcRequest),
                dataType: 'json',
                success: function(rpcResponse) {
                    if (HuConApp.isResponseError(rpcResponse)) {
                        return;
                    }

                    if (rpcResponse['result']) {
                        $('#spinner').hide();
                        updateButtons();
                    } else {
                        $('#spinner').show();
                        buttonNeedUpdate = true;
                    }
                },
                error: function(rpcResponse) {
                    $('#spinner').show();
                    buttonNeedUpdate = true;
                }
            });
        }

        // Call for the buttons list and show them.
        function updateButtons() {
            if (buttonNeedUpdate) {
                var rpcRequest = HuConApp.getRpcRequest();
                rpcRequest['method'] = 'get_possible_post_data';

                // append all available buttons
                $.ajax('/API', {
                    method: 'POST',
                    data: JSON.stringify(rpcRequest),
                    dataType: 'json',
                    success: function(rpcResponse) {
                        if (HuConApp.isResponseError(rpcResponse)) {
                            return;
                        }

                        $('#gridArea').empty();

                        for (var y = 0; y < 8; y++) {
                            for (var x = 0; x < 8; x++) {

                                console.log(y + '/' + x)

                                // insert an emtpy square if there is nothing
                                if (rpcResponse['result']['Y'][y]['X'][x] == null) {
                                    var btn = $('<div class="square"></div>')
                                    $('#gridArea').append(btn);
                                    continue;
                                }

                                var obj = rpcResponse['result']['Y'][y]['X'][x];

                                // Insert nothin when there is a place holder (empty element)
                                if (obj['Type'] == 'PlaceHolder') {
                                    continue;
                                }

                                // Instert a button
                                if (obj['Type'] == 'Button') {
                                    var name = obj['Name']
                                    var eventNumber = obj['Event']
                                    var width = obj['Width']
                                    var height = obj['Height']

                                    var btn = $('<div class="square _' + width + '_' + height + '"><button class="fluid ui orange remoteButton" onclick="setEvent(' + eventNumber + ')">' + name + '</div></div>')
                                    $('#gridArea').append(btn);
                                }

                            }
                        }

                        buttonNeedUpdate = false;


                        if(square) {
                            square.destroy();
                            square = null;
                        }
                        square = $("#gridArea").square( { width:60, height: 60, space:2, speed:0, duration: 0, ease:"easeOutExpo" } );

                    }
                });
            }
        }

        // Call an event on the device.
        function setEvent(eventNumber) {
            var rpcRequest = HuConApp.getRpcRequest();
            rpcRequest['method'] = 'event';
            rpcRequest['params'] = eventNumber;

            $.ajax('/API', {
                method: 'POST',
                data: JSON.stringify(rpcRequest),
                dataType: 'json',
                success: function(rpcResponse){
                    console.log(`event fired ${eventNumber}`);
                },
                error: function(request, status, error){
                    rpcResponse = JSON.parse(request.responseText)
                    console.log(rpcResponse['error']);
                }
            });
        }

    </script>

{% endblock %}

{% block container %}

    <div style="width: 500px"><div id="gridArea"></div></div>

    <div id="spinner" class="ui active dimmer">
        <div class="ui text loader">Loading</div>
    </div>

{% endblock %}

{% block modal %}{% endblock %}
