/* Default settings for the page. */
html {
    height: 100%;
    margin: 0;
}

/* Set the background color and default settings for the body. */
body {
    background-color: #000000;
    overflow: hidden;
    margin: 10px;
    color: whitesmoke;
    height: 100%;
}

/* There is only one table. So set the size to the maximum. */
table {
    height: 100%;
    width: 100%;
}

/* Set the size for the textarea. */
textarea
{
    width: 100%;
    height: calc(100% - 35px);
}

/* Define the header. */
#header {
    height: 120px;
    padding: 5px;
    background-image: url(Logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

/* Define the commands row. */
#commands {
    height: 40px;
}

/* Define the Footer for the AllertView. */
#footer {
    clear: both;
    position: fixed;
    bottom: 10px;
    z-index: 99;
}

/* Set the font for the blockly and code area as the same. */
#blocklyArea, #codeArea {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    padding: 5px 10px;
    vertical-align: top;
}

/* Set the backgound color for the blockly area. */
.blocklySvg {
    background-image: url(BlocklyBackground.png);
    background-color: #000000;
}

/* Set the background color for the ToolBox of blockly. */
.blocklyToolboxDiv, .injectionDiv {
    background-color: #000000;
    border: 1px solid #666;
}
