html {
    height: 100%;
    margin: 0;
}
body {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    background-color: #000000;
    overflow: hidden;
    margin: 10px;
    color: whitesmoke;
    height: 100%;
}
table {
    height: 100%;
    width: 100%;
}
a {
    color: white;
}
select {
  color: #000000;
  font-size: 18px;
  width: 100%;
  padding: 10px;
  padding: 0 10px 0 10px 0;
  border: 0 !important;
  /* needed */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* SVG background image */
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polyline points='5,25 50,75 95,25' stroke='black' stroke-width='10' stroke-linecap='round' fill='none' stroke-linejoin='round'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}
#pythonCode {
    width: 100%;
    height: calc(100% - 35px);
}
#consoleLog {
    width: calc(100% - 4px);
    height: 400px;
}
#header {
    height: 120px;
    padding: 5px;
    background-image: url(Logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
#commands {
    height: 40px;
}
#editor {
    margin: 0;
    width: 100%;
    height: 100%;
}
#blocklyArea, #codeArea {
    padding: 5px 10px;
    vertical-align: top;
}
.blocklySvg {
    background-image: url(BlocklyBackground.png);
    background-color: #000000;
}
.blocklyToolboxDiv, .injectionDiv {
    background-color: #000000;
    border: 1px solid #666;
}
.button_big, .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
}
.button_big {
    width: 300px;
    padding: 15px 32px;
    font-size: 20px;
    font-weight: bold;
}
.center_xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.text {
    font-size: 14px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
.modal-header {
    padding: 2px 10px;
    background-color: #5cb85c;
    color: white;
}
.modal-body {
    padding: 10px 10px;
}
.modal-content {
    position: relative;
    background-color: #000000;
    margin: auto;
    padding: 0;
    border: 1px solid #ffffff;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.select-editable {
    position: relative;
}
.select-editable input {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 18px;
    border: none;
    width: 90%;
}
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
