/* 2018-12-11

Base css file for the web page layout.

Author: Sascha.MuellerzumHagen@baslerweb.com
*/

/* global style */
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    background-color: #000000;
    padding: 10px;
}

div.container {
    width: 100%;
    height: 100%;
}

#headerArea {
    height: 120px;
    background-image: url(../images/Logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
    clear: left;
}

#mainArea {
    padding: 0px;
}

#editor {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#logArea {
    background-color: #FFFFFF;
    clear: left;
    height: 250px;
    overflow-y: scroll;
}

#indexButton {
    height: 42px;
    margin-left: -1px;
    margin-top: -1px;
}

#chooseInput {
    margin-left: 2px;
}

#buttonModal {
    width: 517px;
}

#buttonEmbed {
    height: 517px;
}

.center {
    max-width:800px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.spaceRight {
    margin-right: 10px;
}

.codeText {
    font-size: 1.0em;
}

.whitesmoke {
    color: whitesmoke;
}

.hideCode {
    display: none;
}

.shortHeight {
    /* 100% - menuArea - logArea */
    height: calc(100% - 42px - 250px);
}

.fullHeight {
    /* 100% - menuArea */
    height: calc(100% - 42px);
}

.spaced {
    margin: 1.0em;
}

.spaced .button {
    margin-bottom: 0.75em;
}

.card .image img {
    min-height: 100px;
    padding: 20px;
}

.licenseBottom {
    margin-top: 50px !important;
    margin-bottom: 10px !important;
}

.remoteSquare {
    padding: 0;
}

.remoteButton {
    width: 100%;
    height: 100%;
}

/* semantic changes */
.orange, .ui.orange.button, .ui.orange.buttons.button {
    background-color: #F99D33;
}
.blue, .ui.blue.button, .ui.blue.buttons.button {
    background-color: #14487E;
}
.light_blue, .ui.light_blue.button, .ui.light_blue.buttons.button {
    background-color: #006AB3;
}
